body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Landing Page */

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.into-wrapper {
  display: flex;
  flex-direction: row;
}

.card {
  width: 28.333%;
  height: 25%;
  float: left;
  margin: 2.5%;
  word-wrap: break-word;
}

.intro-images {
  border-radius: 50%;
  width: 60%;
  height: auto;
}

.intro-scroll {
  margin: 0 auto;
  width: 100%;
}

/* Sign-up page */

.card-wrapper > div {

}

.sign-up-card{
  width: 25%;
  height: 25%;
  /* float: left; */
  margin: 0 auto;
  word-wrap: break-word;
  flex-direction: row;
}


/* Dashboard */

.dashboard-links {
  padding: 18px;
}

.dash-button {
  margin: 8px;
}

.side {
  width: 110px;
}
