body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eceff1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Landing Page */

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.intro {
	margin: 0 15% 5% 15%;
}

.intro-para {
	/* width: 300px; */
	margin: 0 10% 0 10%;
	text-indent: 10%;
	text-align: center;
	font-size: large;
}

.intro-title {
	font-weight: bolder;
	font-size: larger;
}
.intro-wrapper {
	display: flex;
	flex-direction: row;
	float: inherit;
	width: 82%;
	margin: 0 9% 0 9%;
}

.backToTop {
	padding-bottom: 12px;
	max-width: 5%;
	height: auto;
}

.backToTop {
	padding-bottom: 12px;
}

.card {
	float: center;
	word-wrap: normal;
}

.card.left {
	margin-left: 7%;
}

.card.right {
	margin-right: 7%;
}

.intro-images {
	margin: 0 10px 0 10px;
	width: 80%;
	height: auto;
	max-width: auto;
	max-height: 300px;
}

.intro-scroll {
	margin: 0 15% 100px 15%;
	float: left;
}

.cardMarg {
	margin: 0 5% 0 5%;
	font-size: large;
}

.topic {
	font-size: larger;
	font-weight: bolder;
}

/* Dashboard */

/* News Page */

.newsCard {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
	word-wrap: normal;
	display: flex;
	flex-direction: row;
}

.newsImg {
	max-width: 100%;
	max-height: auto;
}

.newsCol1 {
	width: 30%;
}

.newsCol2 {
	width: 65%;
	float: right;
	margin: 0 5% 0 5%;
}

.newsCol2 h3 {
	font-size: 25px;
}

.news-wrap {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

/* Video Page */

.video-intro {
	max-width: 550px;
	margin: auto;
	width: 100%;
}

.video-item {
	display: flex !important;
	align-items: center !important;
	cursor: pointer;
	margin-top: 3px;
}

.video-item.item img {
	max-width: 200px;
	max-height: 250px;
}

.left.column {
	max-width: 500px;
}

.right.column {
	max-width: 300px;
}

.container {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 5rem;
}

/* NavBar */

nav {
	background: linear-gradient(#174372, #095ab1);
	margin: 0;
}

.nav-extend {
	background-color: #095ab1;
}

h1 {
	color: #174372;
	font-family: 'Acme', sans-serif;
}

h2 {
	color: #174372;
	font-family: 'Acme', sans-serif;
}

h3 {
	color: #174372;
	font-family: 'Acme', sans-serif;
}

h4 {
	color: #174372;
	font-family: 'Acme', sans-serif;
}

.brand-logo {
	font-family: 'Acme', sans-serif;
}

/* a img {
	max-width: 5%;
	height: auto;
} */

.descriptions {
	margin: 100px auto;
	width: 100%;
}

/* Jobs */

.jobsCard {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 3%;
}

.jobBtn {
	margin: 10px 5px 5px 5px;
}

/* About Us && Landing Page */

.squadLinks {
	margin-top: 5px;
}

.bio {
	margin: 35px 0 0 0;
	text-align: left;
	/* text-indent: 10%; */
	max-width: 250px;
	padding-bottom: 18px;
}

.bullot {
	padding-top: 16px;
}

.bio-images {
	margin: 0 10px 0 10px;
	width: 80%;
	height: auto;
	max-width: 250px;
	border-radius: 4%;
}

.fa-github {
	color: #174372;
}

@media (min-width: 320px) {
	.intro-scroll {
		display: none;
	}
}

/* .intro-wrapper {
	flex-direction: column;
	width: 100%;
} */

@media (min-width: 481px) {
	.intro-scroll {
		display: inline;
	}
}

/* .intro-wrapper {
	flex-direction: column;
	flex-wrap: wrap;
	float: left;
} */
